.ButtonBlack-contenedor {
  /* pantalla: flex */
  display: flex;
  /* ancho al 100% para que se ajuste a cualquier tamaño que tenga el texto dentro */
  /* width: 100%; */
  width: 377px;
  /* centrado */
  justify-content: center;
  /* alineado al centro */
  align-items: center;
  /* altura */
  height: 138px;
  /* borde redondeado */
  border-radius: 100px;
  /* color fondo */
  background-color: #0d0009;
  border-radius: #731702;
  position: relative;
  /* .ButtonBlack-text { */
  color: #f29a2e;
  /*tamaño de letra*/
  font-size: 40px;
  margin: 0;
  margin-bottom: 40px;
}
